<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubhouse</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div id="root">
      <header class="flex-row gap-m">
        <a href="/messages">Messages</a>
        <% if (locals.user) { %>
        <div class="stretch">Logged in as <span class="bold"><%= user.first_name %> <%= user.last_name %></span></div>
        <a href="/messages/new">Write Message</a>
        <% if (!user.isMember) { %>
        <a href="/secret">Membership</a>
        <% } %>
        <a href="/logout">Log Out</a>
        <% } else { %>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
        <% } %>
      </header>
      <main><%- include(content) %></main>
    </div>
  </body>
</html>
