<% if (locals.message) { %>
<div class="error-msg"><%= message %></div>
<% } %>
<form action="/secret" method="post">
  <label for="secret">Say <em>friend</em> and enter</label>
  <input
    type="text"
    id="secret"
    name="secret"
    required
    placeholder="Pedo Mellon a Minno."
  />
  <button type="submit">Enter</button>
</form>
