@import "base.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: min(100%, 800px);
  max-width: 800px;
}

nav ul {
  display: flex;
  gap: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.message {
  border: 1px solid var(--color-gray);
  padding: 0.5em;
}

.message-text {
  padding: 1em;
}

.delete-form {
  display: flex;
  justify-content: flex-end;
}

.delete-form button {
  padding: 0.5em;
}
